.gallery {
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}


.gallery-image {
  width: 33.33%;
  height: 70%;
}
@media screen and (max-width: 960px) {
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gallery-image {
  width: 95%;
  height: 95%;
}
}